@charset "UTF-8";

/*** Inician estilos de las plantillas ***/

body {
	background-color:#f2f8fe;
	margin-top: 0px;
}

/* Contenedor general */
.contenedor {
	margin: 0 auto;
	width: 980px;
}

/* Acople imagenes de encabezado */
.encabezado img{
	float: left;
}

/* Migajas de pan */
#migaDePan{
	margin: 6px auto 15px 10px;
}

/* Contenido principal*/
.contenido {
	background-color: white;
    border:1px solid #cfcfcf;
}

/* Pie de página */
.pie-banners img{
	margin-top: 7px;
}

.pie-derechos {
	background-image: url(../img/pie-bg.jpg);
	background-repeat: no-repeat;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 0px;
	color: #333333;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 82px;
	margin-left: 2px;
	margin-top: 3px;
	padding: 5px;
	width: 978px;
}

.pie-derechos a,visited {
	color: #034279;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.administrado{
	color: #1b5799;
	float: right;
	margin-top: 9px;
	text-align: center;
	width: 978px;
}

/* Créditos */
#creditos{
	background-color: gray;
	background: linear-gradient(45deg, #b6b8b3 0%,#e2e2e2 50%,#e5e3e4 100%,#b6b8b3 100%);
	border-radius: 20px;
	border: 1px solid #c0c0c0;
	box-shadow: 0 0px 20px #666666;
	color: #463D47;
	font-family: Helvetica;
	height: 265px;
	padding-left: 20px;
	padding-right: 20px;
	position: fixed;
	right: 27%;
	top: 97px;
	width: 530px;
	z-index: 10;
}

#tituloCreditos{
	border-bottom: 2px solid gray;
	font-size: 20px;
	margin-bottom: 7px;
	padding-bottom: 10px;
	text-indent: 8px;
}

.columna{
	float: left;
	width: 50%;
}

.cargos{
	font-size: 17px;
	text-align: center;
}

.integrantes{
	list-style-type: circle;
}

.integrantes li{
	font-size: 14px;
	margin-bottom: 10px;
}

#botonCerrar {
	background-color: #9D9D9D;
	border-radius: 50px;
	box-shadow: 0px 0px 5px #000000;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	position: absolute;
	right: 12px;
	text-align: center;
	text-decoration: none;
	top: 12px;
	width: 23px;
	z-index: 11;
}


/*** Terminan estilos de las plantillas ***/


/* Inicia contacto */

#frm_buscar_contacto{
	border: 1px solid black;
	height: 150px;
	padding: 15px;
	width: 410px;
}

#frm_buscar_contacto label, #frm_buscar_contacto input{
	float: left;
	width: 49%;
}


.buscar_contacto_textInput{
	text-align: center;
}