@charset "UTF-8";

/*** Inician estilos de las plantillas ***/

body {
	background-color:#f2f8fe;
	margin-top: 0px;
	font-family: sans-serif;
}

/* Contenedor general */
.contenedor {
	margin: 0 auto;
	width: 980px;
}

/* Acople imagenes de encabezado */
.encabezado img{
	float: left;
}

/* Contenido principal */
#contenido{
	background-color: white;
	border: 1px solid #cfcfcf;
	overflow: auto;
}

/* Menú */
#navegacion{
	width: 152px;
	float: left;
	font-size: 15px;
	margin-top: 15px;
}

#lista_menu{
	background: #fff;
	list-style: none;
	padding: 0px;
}

.elemento_menu{
	border-left: 3px solid #d7d8da;
}

.elemento_menu:hover{
	border-left: 3px solid #1b5799;
	background: #d7d8da;
}

.elemento_menu:hover > a{
	color: #1b5799;
}

.elemento_menu a{
	color: #848889;
	text-decoration: none;
	padding: 4px;
	display: block;
}

.seleccion_menu{
	border-left: 3px solid #1b5799;
}

.seleccion_menu a{
	background: #1b5799;
}

.seleccion_menu a span{
	color: white;
}

.seleccion_menu:hover{
	border-left: 3px solid #1b5799;
	background: #1b5799;
}

/* Migajas de pan */
#migaDePan{
	margin: 6px auto 15px 10px;
	font-size: 12px;
}

/* Contenido dinamico*/
.contenido_dinamico {
    float: left;
    width: 806px;
	padding: 10px 0px 40px 20px;
	font-size: 13px;
	overflow: auto;
}

/* Pie de página */
.pie-banners img{
	margin-top: 7px;
}

.pie-derechos {
	background-image: url(../img/pie-bg.jpg);
	background-repeat: no-repeat;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 0px;
	color: #333333;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 82px;
	margin-left: 2px;
	margin-top: 3px;
	padding: 5px;
	width: 978px;
}

.pie-derechos a,visited {
	color: #034279;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.administrado{
	color: #1b5799;
	float: right;
	margin-top: 9px;
	text-align: center;
	width: 978px;
}

/* Créditos */
#creditos{
	background-color: gray;
	background: linear-gradient(45deg, #b6b8b3 0%,#e2e2e2 50%,#e5e3e4 100%,#b6b8b3 100%);
	border-radius: 20px;
	border: 1px solid #c0c0c0;
	box-shadow: 0 0px 20px #666666;
	color: #463D47;
	font-family: Helvetica;
	height: 265px;
	padding-left: 20px;
	padding-right: 20px;
	position: fixed;
	right: 27%;
	top: 97px;
	width: 530px;
	z-index: 10;
}

#tituloCreditos{
	border-bottom: 2px solid gray;
	font-size: 20px;
	margin-bottom: 7px;
	padding-bottom: 10px;
	text-indent: 8px;
}

.columna{
	float: left;
	width: 50%;
}

.cargos{
	font-size: 17px;
	text-align: center;
}

.integrantes{
	list-style-type: circle;
}

.integrantes li{
	font-size: 14px;
	margin-bottom: 10px;
}

#botonCerrar {
	background-color: #9D9D9D;
	border-radius: 50px;
	box-shadow: 0px 0px 5px #000000;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	position: absolute;
	right: 12px;
	text-align: center;
	text-decoration: none;
	top: 12px;
	width: 23px;
	z-index: 11;
}

/* Tablas */

.tables{
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	background: #fefefe;
	border-collapse: collapse;
	border-radius: 5px;
	border: 1px solid #d3d3d3;
	font: 12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;
	margin: 0 auto 5%;
	overflow: hidden;
	width: 83%;
}

.tables caption{
	color: #494949;
	font-family: Verdana, Arial;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: .8em;
	margin-top: 2.2em;
	text-align: center;
}

.tables th, .tables td{
	color: #555;
	padding: 2px 10px 2px;
	text-align: center;
}

.tables th{

	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

.tables td{
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}

.tables tr:first-child {
	font-weight: bold;
}

.tables tr:nth-child(odd) {
	background: #f6f6f6;
}

.tables tr:hover td {
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
}

.tables img{
	width: 20px;
}

/*** Terminan estilos de las plantillas ***/


/* Inicia CONTACTO */

/* Vista contacto.php */

#frm_buscar_contacto{
	border: 1px solid black;
	height: 140px;
	margin-bottom: 30px;
	padding: 15px;
	width: 320px;
}

#frm_buscar_contacto label{
	float: left;
	width: 35%;
}

.buscar_contacto_textInput{
	float: left;
	margin-bottom: 7px;
	width: 63%;
}

#btn_buscar_contacto{
	float: right;
}

#btn_nuevo_contacto{
	float: right;
	margin-right: 30px;
}

.link_detalle{
	color: #362b36;
}

.leyenda_centrada{
	text-align: center;
}

/* Vista nuevo_contacto.php */
#frm_nuevo_contacto{
	overflow: auto;
	padding: 20px;
}

.encabezado_form_nuevo_contacto{
	font-size: 20px;
	font-weight: bold;
	margin-top: 35px;
}

.contenedor_seccion_formulario{
	margin-bottom: 25px;
}

#contacto_imagen{
	height: 200px;
	margin-bottom: 5px;
	width: 200px;
	display: block;
}

#contenedor_imagen{
	float: right;
	position: relative;
	text-align: center;
	top: -40px;
}

#botones_envio{
	float: right;
}

.etiqueta_frm{
	width: 120px;
	float: left;
}

.input_frm_nuevo{
	margin-right: 30px;
}

.label_funciones{
	vertical-align: top;
}

#etiqueta_ext{
	width: 40px;
}

.icon_tooltip{
	margin-right: 30px;
}

#contacto_instancias{
	background: url('../img/icono_buscar.png') no-repeat;
	background-position: left center;
	background-size: 20px;
	padding-left: 15px;
}

fieldset > legend{
	font-size: 22px;
	font-weight: bold;
}

/* Vista nuevo_contacto.php */
#borrar_imagen{
	display: block;
	margin-left: 53px;
}

/* Inicia CURSO */

/* Vista curso.php */

#frm_buscar_curso{
	border: 1px solid black;
	height: 190px;
	margin-bottom: 30px;
	padding: 15px;
	width: 350px;
}

#frm_buscar_curso label{
	float: left;
	width: 38%;
}

.buscar_curso_textInput{
	float: left;
	margin-bottom: 7px;
	width: 60%;
}

#btn_nuevo_curso{
	float: right;
	margin-right: 30px;
}

.buscar_curso_fechas{
	margin-bottom: 7px;
	width: 78px;
}

.ui-datepicker{
	font-size:64%;
}

.ui-autocomplete.ui-widget{
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
}

.ui-tooltip{
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
}

/* Vista curso.php */
#conf_contacto_leyenda{
	background: url('../img/icono_info.png') no-repeat;
	background-position: left center;
	background-size: 25px;
	border-radius: 5px;
	padding: 5px 5px 5px 30px;
	background-color: #FFCC99;
	font-size: 16px;
}

.conf_contacto_campos{
	float: left;
	font-size: medium;
	font-weight: bold;
	margin: 0px 0px -10px 20px;
}

.conf_contacto_valores{
	margin-bottom: 25px;
	margin-left: 310px;
	padding-right: 20px;
	text-align: justify;
}

/* Vista nuevo_curso.php */
.encabezado_form_nuevo_curso{
	font-size: 20px;
	font-weight: bold;
	margin-top: 35px;
}

.label_nuevo_curso{
	display: inline-block;
	width: 220px;
	font-weight: bold;
}

.label_nuevo_curso_textarea{
	vertical-align: top;
}

.input_nuevo_curso_centrado{
	text-align: center;
}

.input_nuevo_curso_cupo{
	max-width: 30px;
	text-align: center;
}

#curso_instructores{
	background: url('../img/icono_buscar.png') no-repeat;
	background-color: white;
	background-position: left center;
	background-size: 20px;
	padding-left: 15px;
}

.descripcion_archivos{
	margin-left: 227px;
}

/* Vista editar_curso.php */

.checkbox_tipo_invitado{
	margin: 20px 0px 20px 26px;
}

.lbl_invitados_curso{
	display: inline-block;
	width: 135px;
}

#btn_buscar_invitados{
	float: right;
}

#btn_invitados_curso{
	float: right;
}

#frm_buscar_invitados{
	border: 1px solid #000;
	height: 100px;
	margin: 20px 0 10px 30px;
	padding: 15px;
	width: 295px;
}

#img_flyer{
	display: block;
}

#texto_participante{
	text-align: center;
}

.eliminar_invitado{
	cursor: pointer;
}

/* Inicia MENSAJERIA */

/* Vista de mensajeria.php */
#frm_buscar_correo{
	border: 1px solid black;
	height: 110px;
	margin-bottom: 30px;
	padding: 15px;
	width: 320px;
}

#frm_buscar_correo label{
	float: left;
	width: 38%;
}

.input_buscar_correo{
	float: left;
	margin: 0px 0px 7px 0px;
	text-align: center;
	width: 60%;
}

.textarea_cuerpo_correo{
	height: 200px;
	margin: -14px 0px -17px -19px;
	resize: none;
	width: 105%;
}

.label_nuevo_correo{
	display: inline-block;
	height: 40px;
	width: 120px;
}

#titulo_programar_envio_correo{
	width: 100%;
	display: block;
	text-align: center;
	margin: 30px 0px 20px 0px;
}

.programar_envio_correo{
	float: left;
	width: 49%;
	padding-top: 15px;
}

.programar_envio_correo_posterior{
	height: 120px;
	border-left: 1px solid black;
	padding-left: 10px;
}

#btn_programar_correo{
	float: right;
}

.input_envia_correo{
	margin: 0px 0px 7px 0px;
	text-align: center;
}

#tab-contenido{
	height: 630px;
}

#fieldset_destinatarios_curso{
	margin-top: 20px;
}

#fieldset_destinatarios_contacto{
	margin-top: 35px;
}

#lista_cursos{
	margin-top: 35px;
}

#btn_correo_obtener_url{
	float: right;
	margin-top: 35px;
}

#search_correo_curso{
	background: url('../img/icono_buscar.png') no-repeat;
	background-color: white;
	background-position: left center;
	background-size: 20px;
	margin-top: 20px;
	padding-left: 18px;
}

#frm_correo_destinatarios{
	border: 1px solid black;
	height: 140px;
	margin: 20px 0px 30px 15px;
	padding: 15px;
	width: 360px;
}

#frm_correo_destinatarios label{
	float: left;
	width: 35%;
}

.input_correo_buscar_destinatario{
	margin-bottom: 7px;
	text-align: center;
	width: 63%;
}

#btn_correo_anadir_destinatarios{
	float: right;
	margin-top: 15px;
}

#tab-dest{
	overflow: hidden;
}

#tabs-3{
	overflow: hidden;
}

#btn_correo_plantilla{
	float: right;
	margin-top: 15px;
}

.img_editar_plantilla{
	cursor: pointer;
}

.img_editar_correo{
	cursor: pointer;
}

#btn_buscar_correo{
	float: right;
}

.correo_cancelado {
	background-color: #d9534f;
}

.correo_cancelado td, .correo_cancelado td a{
	color: #fff;
}

.correo_cancelado:hover td {
	background: #d9534f !important;
}

/* Inicia CONFIRMACION */

/* Vista de confirmacion.php */
#contenido_confirmacion{
	background-color: white;
	border: 1px solid #cfcfcf;
	float: left;
	font-size: 13px;
	overflow: auto;
	padding: 10px 0px 40px 20px;
	width: 958px;
}

.confirmacion_titulos_datos{
	font-size: medium;
	font-weight: bold;
	margin: 0px 0px -10px 20px;
}

.confirmacion_titulos_info{
	font-weight: bold;
	text-decoration: underline;
}

.bloque_informacion{
	margin: 20px 50px 60px 0px;
}

#cancelar_asistencia{
	float: left;
	margin-left: 100px;
}

#confirmar_asistencia{
	float: right;
	margin-right: 100px;
}

.confirmacion_info{
	padding-left: 20px;
}

#bloque_ingresar_correo{
	border: 1px solid black;
	padding: 20px;
	width: 94%;
}

#input_verificar_correo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#verificar_correo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.lupa_instancias{
	background: url('../img/icono_buscar.png') no-repeat;
	background-position: left center;
	background-size: 20px;
	padding-left: 15px;
	width: 53%;
}

#textarea_motivos{
	margin: 2px;
	height: 54px;
	width: 374px;
}

#bloque_confirmacion{
	height: 135px;
	padding-top: 100px;
}

#bloque_confirmacion h1{
	text-align: center;
}

.map-canvas{
	height: 400px;
	width: 400px;
}

/* Inicia INSTANCIA */

#bloque_buscar_instancia{
	border: 1px solid black;
	height: 50px;
	margin-bottom: 35px;
	padding: 20px;
	width: 280px;
}

#btn_buscar_instancia{
	float: right;
}

.tables .instancias_nombre{
	text-align: left;
}

#btn_nueva_instancia{
	float: right;
	margin-right: 30px;
}

.editar_instancia{
	height: 20px;
	background: url('../img/icono_editar.png') no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.editar_instancia:hover{
	cursor: pointer;
}

.guardar_instancia{
	height: 20px;
	background: url('../img/icono_guardar.png') no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

#frm_registrar_instancia{
	margin-top: 30px;
	margin-left: 33%;
	width: 185px;
}